/* ===== GLOBAL ===== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
}

/* ===== HERO ===== */
.research-hero {
    height: 35vh;
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
                url("../bg.png") center/cover no-repeat;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== NAVBAR ===== */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
}

.nav-right {
    display: flex;
    gap: 24px;
}

.nav-right a {
    color: white;
    text-decoration: none;
}

/* ===== HERO TEXT ===== */
.hero-text {
    color: white;
    text-align: center;
}

/* ===== CONTENT ===== */
.research-container {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

/* ===== PAPER ===== */
.paper {
    padding: 28px 0;
    border-bottom: 1px solid #ddd;
}

.journal {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.authors {
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
}

.title {
    display: inline-block;
    font-size: 20px;
    color: #b30000;
    text-decoration: none;
    line-height: 1.5;
    transition: 0.3s;
}

.title:hover {
    opacity: 0.7;
}
